extends layout

block resources


block content
  .splash
    h1 TRUMP TEES
    h3 American Born. American Raised. Just like our <i>true</i> patriots.

  .info-box
    h2 The <span style="font-weight: 900"><span style="color: #B1081D">A</span><span style="color: #314EDA">m</span><span style="color: #B1081D">e</span><span style="color: #314EDA">r</span><span style="color: #B1081D">i</span><span style="color: #314EDA">c</span><span style="color: #B1081D">a</span><span style="color: #314EDA">n</span></span> Way
    h3 American-made t-shirts printed with the words of Uncle Sam himself. We want YOU to support Donald.

  .trumpgif
    img(src= "/img/americanproducts.png", class= "face")
    img(src= "/img/mouth.png", class= "mouth")

  .trumpgif
    img(src= "/img/reallyrich.png", class= "face")
    img(src= "/img/mouth.png", class= "mouth")

  .tiles
    .tile-row
      .square-box
        .square-content
          .overcomb
      .square-box
        .square-content
          div
            span
      .square-box
        .square-content
          div
            span
    .tile-row
      .square-box
        .square-content
          div
            span
      .square-box
        .square-content
          div
            span
      .square-box
        .square-content
          div
            span

  .footer
    h2 Buy American. Make America Great Again.





