body {
  margin: 0;
  font-family: Lato;
}

.splash {
  width: 100%;
  background-image: url("/img/donaldfuckyeah.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
  margin: 0 auto;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.splash h1 {
  font-size: 6.2em;
}

.splash h3 {
  font-size: 2.2em;
  font-weight: 400;
}

.info-box {
  text-align: center;
}

.info-box h2{
  font-weight: 600;
  font-size: 4.2em;
  -webkit-margin-after: 0em;
}

.trumpgif {
  position: relative;
  display: inline-block;
}

@-webkit-keyframes mouth-move {
  0%   { bottom: 11%; }
  50%   { bottom: 7%; }
  100% { bottom: 11%; }
}

@keyframes mouth-move {
  0%   { bottom: 11%; }
  50%   { bottom: 7%; }
  100% { bottom: 11%; }
}

.mouth {
  -webkit-animation: mouth-move 0.25s infinite; /* Safari 4+ */
  animation:         mouth-move 0.25s infinite; /* IE 10+, Fx 29+ */
  position: absolute;
  bottom: 11%;
  left: 27.8%;
}

.square-box{
  position: relative;
  width: 30%;
  overflow: hidden;
  margin: 20px;
  display: inline-block;
  background-color: #B1081D;
}

.square-box:hover {
  background-color: black;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

/*.overcomb {
  background-image: url("/img/overcomb.jpg");
  width: 100%;
}

.overcomb:hover {
  background-image: url("/img/overcomb2.jpg");
}*/

/*.shirt {
  position: relative;
}

.shirt1 {
  width: 30%;
  overflow: hidden;
  margin: 20px;
  display: inline-block;
  border-color: #B1081D;
  border-width: 10px;
  background-image: url("/img/overcomb.jpg");

}

.shirt1:hover {
  background-image: url("/img/overcomb2.jpg");
  width: 30%;
  overflow: hidden;
  margin: 20px;
  display: inline-block;
  border-color: #B1081D;
  border-width: 10px;
}*/

.footer {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  margin: 0;
  margin-top: 20px;
  background-image: url("/img/americanflag.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer h2 {
  font-size: 2.2em;
}

